@page
@model FreshFarmMarket.Pages.ErrorPage.ErrorModel
@{
}

<h2>Error Occurr</h2>

<p>Sorry for inform you that there have some issue happened while processing your request</p>

@{
    if(Model.ShowRequestId)
    {
        <b>Request ID: </b> @Model.RequestId
    }
   
}